[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

.vs/
*.user
*.suo
*.userprefs
*.cache

.vscode/
.idea/

packages/
*.nupkg

# Test results
TestResults/
[Cc]overage/

# Симуляционные данные
Screens/
*.csv